[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
statsmodels = "*"
jupyter = "*"
matplotlib = "*"
graphviz = "*"
coverage = "*"

[requires]
python_version = "3.6"
